:root {
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.card-wrapper {
    padding: 1rem;
    display: flex;

    align-items: center;
    justify-content: center;

    /* background-color: lightblue; */
}

.card {
    text-align: center;
    padding: 1rem;

    min-width: 400px;
    min-height: 225px;

    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border: 2px solid white; */

    background-color: white;
    box-shadow: -1px 2px 5px 2px #2d2d2d40;

    transition: all 300ms;
    /* transform: rotateX(5deg) rotateY(-15deg); */
    transform-style: preserve-3d;
}

.card::before {
    content: "";
    position: absolute;
    z-index: 10;
    inset: 0;
    border: 3px solid black;

    transform: translateZ(0rem);
}

.card-content {
    cursor: pointer;
    transform: translateZ(6rem);
}

.card-text {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 500;
}

.card-content:hover {
    transform: translateZ(7.5rem);
}
.card-content:hover .card-text {
    color: lightcoral;
}
.card-content:hover .name {
    color: lightcoral;
}
.card-content:hover .email {
    color: #c9510c;
}
.card-content:hover .github {
    color: #6e5494;
}
.card-content:hover .linkedin {
    color: #0072b1;
}

.card-wrapper:hover .card {
    /* text-shadow: 1px 1px 0px rgb(189, 189, 189); */
    /* box-shadow: -1px 2px 5px 2px #2d2d2d40; */
    transform: rotateX(4deg) rotateY(-10deg);
}

.name {
    font-size: 2rem;
    font-weight: 800;
}

@media screen and (max-width: 750px) {
    .card-wrapper {
        width: 100%;
        height: 100%;
        /* transform: rotate(90deg); */
    }

    .card-wrapper:hover .card {
        transform: unset;
    }
}
